.review-product{
    display: flex;
    gap: 50px;
    margin: 50px auto;
    justify-content: center;
}

.review-product img{
    width: 600px;
    height: 600px;
}

.review-field{
    display: grid;
}

.review-field textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
}

.product-details img{
    width: 18px;
    height: 18px;
}
.product-details h4{
    display: flex;
    align-items: center;
}


.text-warning {
    color: orange;
}