.product {
    width: 350px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 96%;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}
.product-info{
    margin-left: 14px;
}
.product-info img{
    width: 18px;
    height: 18px;
    margin: 0;
}
.product-info p{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.btn-cart{
    width: 94%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item, .review{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
}

